:root {
  --primary: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary);

  font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6em;
}

section, footer {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: pink;
}

.message {
  padding: .2em 1em .3em;
  background-color: white;
  border-radius: .5em;
  display: block;

  position: fixed;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%) translateY(100%);

  visibility: hidden;
}

.active .message {
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  transition: transform 50ms ease-in
}

.message a {
  text-decoration: none;
}
